{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>GT Movies Store is a Django tutorial project for CS 2340. Browse the movie catalog,
          search by title, and open a movie to see its description, poster, price, and reviews.</p>
        <p>Create an account to write and manage your reviews, report inappropriate reviews,
          and view your order history. Add movie quantities to your cart and place a simulated
          purchase. This educational store does not collect payments, rent movies, or stream video.</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="Movie audience" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
